@model Avaliacoes.Web.Models.ViewModels.AvaliacaoViewModel

@{
    ViewBag.Title = "Novo";
}

<h2>Novo</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Avaliacao</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Objetivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Objetivo)
                @Html.ValidationMessageFor(model => model.Objetivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio)
                @Html.ValidationMessageFor(model => model.DataInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFim, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFim)
                @Html.ValidationMessageFor(model => model.DataFim)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModulosID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.ModulosID, ViewBag.ListaModulos as System.Web.Mvc.MultiSelectList, new { Multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.ModulosID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuestoesID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.QuestoesID, ViewBag.ListaQuestoes as System.Web.Mvc.MultiSelectList, new { Multiple = "multiple" })
                @Html.ValidationMessageFor(model => model.QuestoesID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para listagem", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
