<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    @Html.Partial("_HeaderPartial")
    @Html.Partial("_SidebarPartial")

    <div class="container body-content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var sidebarLinks = $('.nav-sidebar a');
        var sidebarLinksLenght = sidebarLinks.length;
        for (var i = 0; i < sidebarLinksLenght; i++) {
            var currentLink = $(sidebarLinks[i]);
            if (document.documentURI.indexOf(currentLink.prop('href')) >= 0) {
                currentLink.parent().addClass('active');
            }
        }
    </script>
</body>
</html>