<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index","Alunos")">Alunos</a></li>
        <li><a href="@Url.Action("Index","Coordenadores")">Coordenadores</a></li>
        <li><a href="@Url.Action("Index","Cursos")">Cursos</a></li>
        <li><a href="@Url.Action("Index","Disciplinas")">Disciplinas</a></li>
        <li><a href="@Url.Action("Index","Professores")">Professores</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="@Url.Action("Index","Avaliacoes")">Avaliações</a></li>
        <li><a href="@Url.Action("Index","Questoes")">Questões</a></li>
        <li><a href="#">Respostas</a></li>
        <li><a href="@Url.Action("Index","Topicos")">Tópicos de avaliação</a></li>
    </ul>
</div>
