<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (ViewBag.NoNavBar == null || !ViewBag.NoNavBar)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="@Url.Action("Index","Home")"> <img src="~/Content/logo-infnet.png" style="height:50px" /></a>
                    @*@Html.ActionLink("kAvaliações Infnet", "Index", "Avaliacao", null, new { @class = "navbar-brand" })*@
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Avaliações", "Home","Index")</li>
                        @*@if (User.IsInRole("Admin"))
                        {*@
                            <li>@Html.ActionLink("Administrativo", "Home","Index")</li>
                        @*  }*@
                        
                        <li>@Html.ActionLink("Conta", "Contact", "Avaliacao")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()

        @if (ViewBag.NoFooter == null || !ViewBag.NoFooter)
        {
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)
</body>
</html>
