@using Avaliacoes.Domain
@model IEnumerable<Avaliacoes.Domain.ModuloTurma>
@{
    ViewBag.Title = "Módulo de Avaliações Infnet";
}
<h2>Avaliações</h2>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                Módulo
            </th>
            <th>
                Professor
            </th>
            <th>
                Objetivo
            </th>
            <th>
                Hora de Início
            </th>
            <th>
                Hora de Fechamento
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
        @foreach (var avaliacaoPorModulo in Model)
        {
            <tr>
                <td>
                    @avaliacaoPorModulo.Modulo.Nome
                </td>
                <td>
                    @avaliacaoPorModulo.Professor.Nome
                </td>
                <td>
                    @avaliacaoPorModulo.Avaliacao.Objetivo
                </td>
                <td>
                    @avaliacaoPorModulo.Avaliacao.DataInicio
                </td>
                <td>
                    @avaliacaoPorModulo.Avaliacao.DataFim
                </td>
                <td>
                    @avaliacaoPorModulo.Avaliacao.Situacao
                </td>
                <td>
                    @if (avaliacaoPorModulo.Avaliacao.Situacao == Situacao.Disponivel)
                    {
                        @Html.ActionLink("Responder", "Responder", new { avaliacaoId = avaliacaoPorModulo.AvaliacaoId })
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <blockquote class="text-primary">
        <p>
            Não existem avaliações associadas ao seu usuário.
        </p>
    </blockquote>
}
