@using Avaliacoes.Domain
@model Avaliacoes.Domain.Avaliacao

@{
    ViewBag.Title = "Resposta de avaliação";
}

@using (Html.BeginForm("EnviarResposta", "Avaliacao"))
{
    var questaoIndex = 0;
    foreach (var questoesPorTopico in Model.Questoes.GroupBy(questao => questao.TopicoAvaliacao))
    {
        <h3>@questoesPorTopico.Key.Descricao</h3>
        foreach (var questao in questoesPorTopico)
        {
            <input type="hidden" name="[@questaoIndex].AvaliacaoId" value="@Model.Id" />
            <h4 class="text-justify">@(questaoIndex + 1) - @questao.Texto</h4>
            <div style="padding-left:10px">
                <input type="hidden" name="[@questaoIndex].QuestaoId" value="@questao.Id" />
                @for (var i = 0; i < 5; i++)
                {
                    <label class="radio-inline">
                        <input type="radio" name="[@questaoIndex].RespostaId" value="@i">@Enum.GetName(typeof(Likert), i)
                    </label>
                }
            </div>
                questaoIndex = questaoIndex + 1;
        }
    }
    <div class="form-group pull-right">

        <input type="submit" id="send" value="Enviar" class="btn btn-success" />

    </div>
}