@model Avaliacoes.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    ViewBag.NoNavBar = true;
    ViewBag.NoFooter = true;
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="~/Content/logo-infnet2.jpg" alt="round logo"/>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.UserName, new { @class = "col-md-2 control-label form-control", placeholder = "Usuário", required = true, autofocus = true })
                    @Html.ValidationMessageFor(m => m.UserName)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Senha", required = true })
                    @Html.ValidationMessageFor(m => m.Password)
                    <button style="width:280px" class="btn btn-lg btn-primary btn-block" type="submit">
                        Fazer login
                    </button>
                    <label class="checkbox pull-left">
                        @Html.CheckBoxFor(m => m.RememberMe) Continuar conectado
                    </label>
                    <span class="clearfix"></span>
                }
            </div>
            @Html.ActionLink("Criar uma conta", "Register", null, new{@class="text-center new-account"})
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}