@model Avaliacoes.Domain.Questao

@{
    ViewBag.Title = "Details";
}
@*TODO: Exibir a quais provas a questão está associada, permitir navegação para a prova. Não é permitido remover uma questão depois do questionário estar pronto para resposta.*@
<h2>Details</h2>

<div>
    <h4>Questao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicoAvaliacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicoAvaliacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
